node_modules/
topcoat-design.png
*.log

#
# Ignore all bower components except for those
# used by index.html to showcase components.
#

/bower_components/*

/bower_components/webcomponentsjs/*
!/bower_components/webcomponentsjs/
!/bower_components/webcomponentsjs/webcomponents-lite.js

/bower_components/iron-demo-helpers/*
!/bower_components/iron-demo-helpers/
!bower_components/iron-demo-helpers/demo-pages-shared-styles.html
!bower_components/iron-demo-helpers/demo-snippet.html

/bower_components/polymer/*
!/bower_components/polymer/
!/bower_components/polymer/lib
!/bower_components/polymer/polymer.html
!/bower_components/polymer/polymer-element.html

/bower_components/shadycss/*
!/bower_components/shadycss/
!/bower_components/shadycss/apply-shim.html
!/bower_components/shadycss/apply-shim.min.js
!/bower_components/shadycss/custom-style-interface.html
!/bower_components/shadycss/custom-style-interface.min.js

/bower_components/iron-flex-layout/*
!/bower_components/iron-flex-layout/
!/bower_components/iron-flex-layout/iron-flex-layout.html

/bower_components/prism-element/*
!/bower_components/prism-element/
!/bower_components/prism-element/prism-theme-default.html
!/bower_components/prism-element/prism-highlighter.html
!/bower_components/prism-element/prism-import.html
/bower_components/prism/*
!/bower_components/prism/
!/bower_components/prism/prism.js
/bower_components/prism/themes/*
!/bower_components/prism/themes/
!/bower_components/prism/themes/prism.css

/bower_components/marked-element/*
!/bower_components/marked-element/
!/bower_components/marked-element/marked-element.html
!/bower_components/marked-element/marked-import.html

/bower_components/marked/*
!/bower_components/marked/
!/bower_components/marked/lib/*
!/bower_components/marked/lib/
!/bower_components/marked/lib/marked

/bower_components/font-roboto/*
!/bower_components/font-roboto/
!/bower_components/font-roboto/roboto.html